extends base

block viewport
	body
		header.Cover
			
	
		ul.Timeline
			each post in page.posts.toArray()
				li.Timeline-item
					time.Timeline-date= date(post.date, 'YYYY/M/D')
					article.Timeline-content
						h2= post.title
						
						p!= post.content

						h6 Categories
						p!= list_categories(post.categories)
						
						h6 Tags
						p!= list_tags(post.tags)

block append styles
	link(rel='stylesheet' href=url_for('styles/wryk.css'))
