doctype html
html
	head
		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content="IE=Edge")
			meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
			meta(name='author', content=config.author)
			meta(name='description', content=config.description)

		title
			block title
				if page.title
					| #{page.title} | #{config.title}
				else
					| #{config.title}

		block styles
			
		block scripts

	block viewport
		body
			!= page.content
